body {
  width: 80%;
  margin: 0 auto;
}

/* header1 */
.header1 {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1>div {
  font-size: 15px;
}

/* header2 */
.header2 {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header2>div.search {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 2px solid rgb(0, 187, 107);
  border-radius: 20px;
}

.header2>div.search>input {
  width: 75%;
  border-width: 0px;
}

.header2>div.search>input:focus {
  outline-width: 0px;
}

.header2>div.search>i {
  font-size: 20px;
  color: rgb(0, 187, 107);
}

.header2>div.search>span>i.search {
  color: rgb(0, 187, 107);
}

.header2>div.subside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header2>div.subside>img {
  width: 10%;
  position: absolute;
  right: 5px;
}

/* header3 */
.header3 {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header3>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.header3>div>i {
  color: rgb(0, 187, 107);
}

.header3>div>span {
  font-size: 10px;
}

/* main 구간 */
main {
  width: 80%;
  height: 2000px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* main 의 section 구간 */
main>section {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main>section>div {
  width: 100%;
  height: 30%;
  border: 1px solid rgb(223, 223, 223);
  padding: 10px;
}

/* section의 subside1 */
main>section>div.subside1 {
  width: 100%;
  height: 6%;
}

.subside1>img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* section의 article1 */
main>section>div.article1 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid rgb(223, 223, 223);
}
/* article1의 header1 */
.article1>div.article1-header1 {
  font-size: 16px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.article1-header1>div>i {
  color: red;
}

.article1-subside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article1-subside>img {
  position: absolute;
  right: 5px;
  width: 20%;
}

/* article1의 header2 */
.article1-header2 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(223, 223, 223);
}

.article1-header2>span {
  font-size: 15px;
}

.article1-header2>input {
  width: 60%;
  border-width: 0px;
  font-size: 13px;
}

.article1-header2>input:focus {
  outline-width: 0px;
}

/* article1의 section */
.article1-section {
  width: 100%;
  height: 60%;
}

.article1-section>table{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(223, 223, 223);
}

.article1-section>table>tr,td {
  width: 25%;
  height: 50%;
}

.article1-section>table img {
  width: 90%;
  height: 80%;
  text-align: center;
  border-radius: 10px;
}

div.miniArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.miniSection {
  position: relative;
  display: flex;
}

div.miniSection > input{
  height: 20px;
}

.subscribe{
  position: absolute;
  right: 5px;
  border: 1px solid rgb(136, 216, 189);
  border-radius: 10px;
  font-size: 14px;
  color: blue;
}

div.article1-footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  color: #505050;
}

/* article1의 footer */
.article1-footer > span#span1 {
  color: blue;
  font-weight: 600;
}

.article1-footer > span#span2 {
  color: #505050;
  font-weight: 900;
}

.article1-footer > span#span3 {
  color: #505050;
}

.article1-footer > span#span3::first-letter {
  font-weight: 900;
}

/* section의 article2 */
/* article2의 nav */
.article2-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article2-nav>ul>li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  font-size: 20px;
  color: #505050;
}

.article2-nav>span {
  color: #505050;
}

/* article2의 shopping */
.shopping {
  width: 100%;
  height: 70%;
  display: flex;

}
/* shopping의 shoppingList */
.shoppingList {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(223, 223, 223);
}

.shoppingList>span {
  font-size: 14px;
  font-weight: 600;
}

.shoppingList>ul {
  font-size: 13px;
}

.shoppingList>ul>li {
  line-height: 290%;
  margin-bottom: -9px;
  font-weight: 600;
  color: blueviolet;
}

/* shopping의 shoppingAside */
.shoppingAside {
  width: 70%;
  height: 100%;
  border: 1px solid rgb(223, 223, 223);
}

.shoppingAside>table {
  width: 90%;
  margin: 0 auto;
}

.shoppingAside img {
  width: 100%;
  border-radius: 10px;
}

tr#picture1,tr#picture2 {
  height: 150px;
}

tr#comment1,tr#comment2 {
  height: 50px;
  font-size: 14px;
}
/* article2의 shoppingAside2 */
.shoppingAside2 {
  height: 90px;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(223, 223, 223);
}

.shoppingAside2>input {
  width: 60px;
  height: 20px;
}

/* article2의 shoppingFooter */
div.shoppingFooter {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footernav {
  display: flex;
  align-items: center;
}

.shoppingFooter > div > span#span1 {
  color: blueviolet;
  font-weight: 600;
}

.shoppingFooter > div > span#span2 {
  color: #505050;
  font-weight: 900;
}

.shoppingFooter > div > span#span3 {
  color: #505050;
}

.shoppingFooter > div > span#span3::first-letter {
  font-weight: 900;
}

.shoppingFooter > span {
  border: 2px solid rgb(223, 223, 223);
  border-radius: 5px;
  color: #505050;
}

/* section의 article3 */
.article3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* article3의 nav */
.article3-nav {
  height: 20px;
}

.article3-nav>ul>li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  font-size: 15px;
  color: #505050;
}

.article3-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article3-nav>span {
  color: #505050;
}

/* article3의 health */
.article3-health {
  height: 80%;
  border: 1px solid rgb(223, 223, 223);
}

table#health-table1 {
  width: 100%;
  height: 40%;
}

tr#picture3 {
  height: 100px;
}

tr#picture3 img {
  width: 98%;
  border-radius: 10px;
}

tr#comment3 td {
  height: 14px;
}

tr#comment3 td p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

tr#comment3 td span {
  font-size: 10px;
  color: #505050;
}

table#health-table2 {
  width: 100%;
  height: 60%;
}

table#health-table2 img {
  width: 98%;
  border-radius: 10px;
}

.table-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
}

.table-section p {
  margin: 1px;
}

.name {
  font-size: 11px;
  color: #505050;
}

/* article3의 footer */
.article3-footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.article3-footer i {
  margin-top: 2px;
  color: rgb(0, 187, 107);
}

/* main의 aside 구간 */
main>aside {
  width: 40%;
  height: 100%;
  padding: 0 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside>div {
  border: 1px solid rgb(223, 223, 223);
  border-collapse: collapse;
  width: 100%;
}

/* asdide의 login */
.login {
  height: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login span {
  font-size: 15px;
  height: 20%;
  display: flex;
  align-items: center;
}

.login>div {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login>div span {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 187, 107);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  padding: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-list {
  font-size: 15px;
  padding: 0;
  margin: 0;
  height: 20%;
}

.login-list li {
  display: inline;
  list-style: none;
  line-height: 3px;
  width: 30%;
  color: #505050;
}

li.stick {
  color: #9d9d9d;
}

/* asdide의 advertisement */
.advertisement {
  height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advertisement>div {
  position: relative;
  display: flex;
}

.advertisement div.ad {
  position: absolute;
  top: 2px;
  right: 1px;
  border: 1px solid #9d9d9d;
  display: flex;
  font-size: 10px;
}

div.ad>div {
  border: 1px solid #9d9d9d;
}

div#kt {
  display: flex;
  justify-content: space space-around;
  width: 95%;
  height: 20%;
}

.advertisement>input {
  width: 95%;
  height: 60%;
  border: 1px solid rgb(223, 223, 223);
}

.ad-footer {
  width: 95%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-footer1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 40%;
}

.ad-footer1>input {
  width: 13%;
  height: 13%;
}

.ad-footer1>span {
  margin-left: 5px;
}

.ad-footer2 {
  font-size: 14px;
  width: 30%;
  display: flex;
  align-items: center;
}

.ad-footer2>i {
  margin-left: 5px;
}

/* aside의 weather */
.weather {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.weather-header {
  width: 95%;
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
}

span#title {
  font-size: 16px;
}

.weather-header> span#check, i {
  font-size: 14px;
  color: #505050;
}

.weather-header>i {
  margin-left: 7px;
}

span#location {
  font-size: 14px;
  color: #505050;
  position: absolute;
  right: 1px;
}

.weather>input {
  width: 95%;
  height: 70%;
  border: 1px solid rgb(223, 223, 223);
}

/* aside의 stock */
.stock {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stock-header {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-left>span {
  font-size: 16px;
}

.stock-left>i {
  font-size: 14px;
  color: #505050;
}

.stock-right>span, i {
  font-size: 14px;
  color: #505050;
}

.stock>input {
  width: 95%;
  height: 70%;
  border: 1px solid rgb(223, 223, 223);
}

/* aside의 advertisement2 */
.advertisement2 {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertisement2>img {
  width: 95%;
}

/* aside의 widget */
.widget {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* widget의 header */
.widget-header {
  width: 95%;
  height: 5%;
  display: flex;
  align-items: center;
}

.widget-header>span {
  font-size: 16px;
}

/* widget의 section1 */
.widget-section1 {
  border: 1px solid rgb(223, 223, 223);
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
}

.widget-left1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
}

.widget-right1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.top {
  width: 99%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top>span {
  font-weight: 600;
  font-size: 15px;
}

div.top>.date{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.date>p {
  margin: 0;
}

.date>p#monthday {
  font-size: 30px;
  font-weight: 900;
}

p#day {
  font-size: 14px;
}

.memo {
  width: 90%;
  height: 90%;
}

.memo-top {
  width: 100%;
  height: 30%;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 187, 107);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom {
  width: 99%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom>a {
  color: #505050;
  font-size: 14px;
}

/* widget의 section2 */
.widget-section2 {
  border: 1px solid rgb(223, 223, 223);
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
}

.top-header {
  width: 90%;
}

.widget-section2 input {
  width: 60%;
  height: 100%;
}

.top-header>div {
  font-size: 15px;
  font-weight: bolder;
}

div#translate {
  width: 80%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #00A2FF;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header2 {
  width: 90%;
  font-size: 14px;
  font-weight: bold;
}

p#p {
  width: 95%;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.bottom-search {
  width: 99%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-search>i {
  font-size: 18px;
}

/* widget의 section3 */
.widget-section3 {
  border: 1px solid rgb(223, 223, 223);
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-section3>img {
  width:80%
}

/* widget의 footer */
.widget-footer {
  width: 95%;
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.naver {
  width: 6%;
  background-color: rgb(0, 187, 107);
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#navertext {
  margin-left: 8px;
  font-size: 15px;
  font-weight: bold;
}

div#navertext1 {
  margin-left: 8px;
  font-size: 15px;
}

.widget-footer>i {
  position: absolute;
  right: 10px;
  font-size: 18px;
}

/* aside의 advertisement3 */
.advertisement3 {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertisement3>img {
  width: 98%;
}

/* footer 구간 */
footer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* footer1 */
.footer1 {
  width: 95%;
  height: 30%;
}

table#footer-table {
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;

}

td.table-image {
  width: 16%;
}

td.table-image>img {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

td.table-content {
  width: 15%;
}

div.content1 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #a0adb2;
  border-radius: 6px;
  width: 40%;
  padding-bottom: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
}

div.content3>p {
  margin: 0;
  font-size: 13px;
}

div.content4 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #a0adb2;
  border-radius: 6px;
  width: 60%;
  padding-bottom: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer2 */
.footer2 {
  width: 95%;
  height: 10%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#footer-nav {
  display: flex;
  align-items: center;
}

div#footer-nav>i {
  padding-left: 5px;
}

/* footer3 */
.footer3 {
  width: 95%;
  height: 20%;
  position: relative;
}

.footer3-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
}

.footer3-div>span {
  font-size: 14px;
  font-weight: bold;
}

ul.footer3-list>li {
  display: inline;
  list-style: none;
  font-size: 14px;
  color: #505050;
}

.footer3-div2 {
  position: absolute;
  right: 5px;
  top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer3-forspan {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.footer3-forimg>img {
  width: 90%;
}

span.span1 {
  font-size: 14px;
  font-weight: bold;
}

span.span2 {
  font-size: 14px;
  color: #505050;
}

/* footer4 */
.footer4 {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li#personalInfo {
  font-weight: bold;
}

.footer4>span {
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}

.fixedFunc {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.fixedFunc>a>i {
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  background-color: white;
  color: #9d9d9d;
  border: 2px solid #a0adb2
}

.fixedFunc>i {
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  background-color: white;
  color: #9d9d9d;
  border: 2px solid #a0adb2
}